body {
    filter: grayscale(100%);
}

video {
    width: 65vw;
}

table {
    border: none;
}

.center-container {
    display: grid;
    place-items: center;
}

.center-container-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

table th, table td {
    border: none;
}


thead {
    background-color: #222;
    color: #fff
}