@import url('https://promptcraft.makabaka1880.xyz/style/fonts.css');

$vp-font: '"Noto Sans SC", sans-serif';
$vp-font-heading: '"Noto Sans SC", sans-serif';
$vp-font-mono: '"JetBrains Mono", monospace, "LXGW WenKai Mono", monospace';